{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>BlinkChat | Register</title>
</head>
<body>
    <div align="center">
        <h2>BlinkChat</h2>
    </div>

    <div class="container">
        <h3 align="center">Register</h3>
        <form id="post-form" method="POST" action="{% url 'signup' %}">
          {% csrf_token %}
          <label for="usrnm">Username</label>
          <input type="text" name="username" id="usrnm" width="100px" required>
          <label for="dob">Date of Birth</label><br><br>
          <input type="date" name="dob" id="dob" required><br><br>
          <label for="pswrd">Password</label>
          <input type="password" name="password" id="pswrd" width="100px" required>
          <label for="c_pswrd">Confirm Password</label>
          <input type="password" name="c_password" id="c_pswrd" width="100px" required>
          <input type="submit" value="Sign Up">
        </form>
      </div>
    
      {% for msg in messages %}
      <p class="info">{{msg}}</p>
      {% endfor %}
</body>
</html>